<div class="container">
  <div class="default-view-container">
    <div class="search-title">
      <img class="icon" src="../../../assets/Flickr.svg" />
      <h1 class="text-center">flickr photos</h1>
    </div>

    <div class="form-group">
      <input
        type="search"
        class="form-control"
        (keyup)="search($event)"
        placeholder="Search images"
      />
    </div>

    <images-grid *ngIf="keyword" [keyword]="keyword"></images-grid>
    <!-- 
    <cdk-virtual-scroll-viewport
      itemSize="50"
      class="example-viewport"
      appendOnly
      #scrollViewport
    >
      <div
        ngxMasonryItem
        class="masonry-item"
        *ngFor="let image of images"
        style="width: 30%"
      >
        <button class="image" mat-raised-button (click)="openDialog(image)">
          <img src="{{ image.url }}_m.jpg" title="{{ image.title }}" />
        </button>
      </div>
    </cdk-virtual-scroll-viewport> -->
    <!-- <div class="images-container">
      <ngx-masonry
        class="masonry-options"
        [options]="masonryOptions"
        style="width: 90vw"
        [ordered]="true"
      >
        <div ngxMasonryItem class="masonry-item" *ngFor="let image of images">
          <button class="image" mat-raised-button (click)="openDialog(image)">
            <img
              width="250px"
              src="{{ image.thumbnail }}"
              title="{{ image.title }}"
            />
          </button>
        </div>
      </ngx-masonry>
    </div>
    <mat-spinner class="loading" *ngIf="loading"></mat-spinner>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    ></div> -->
  </div>
</div>
