<div class="container">
  <div class="default-view-container">
    <div class="search-title">
      <img class="icon" src="../../../assets/Flickr.svg" />
      <h1 class="text-center">flickr photos</h1>
      <mat-slide-toggle [checked] = "isChecked" (change)="toggle($event)" color="primary" class="view-mode">{{isChecked ? 'Infinite Scroll' : 'CDK scroll'}}</mat-slide-toggle>
    </div>

    <div class="form-group">
      <input
        type="search"
        class="form-control"
        (keyup)="search($event)"
        placeholder="Search images"
      />
    </div>

    <images-infinite-scroll 
      *ngIf="keyword && isChecked" 
      [keyword]="keyword" 
      [images]="images" 
      [loading]="loading" 
      (fetchMore)="fetchMore()"
      (openDialog)="openDialog($event)">
    </images-infinite-scroll>
    <images-cdk-scroll 
      *ngIf="keyword && !isChecked" 
      [keyword]="keyword"  
      [images]="images" 
      [loading]="loading" 
      (fetchMore)="fetchMore()"
      (openDialog)="openDialog($event)">
    </images-cdk-scroll>
  
  </div>
</div>
