<div class="container">

    <div class="full-screen-view-container">
      <!-- <ng-image-fullscreen-view
      [images]="imageObject"
      [imageIndex]="currentIndex"
      [show]="showFlag"
      (close)="closeEventHandler()">
    </ng-image-fullscreen-view> -->

    </div>
    <div class="defaulf-view-container">
        <div class="search-title">
          <img class="icon" src="../../../assets/Flickr.svg">
          <h1 class="text-center">flickr photos</h1>
        </div>
        <!-- <button mat-raised-button (click)="openDialog()">Open dialog without animation</button> -->

        <div class="form-group">
          <input type="search" class="form-control" (keyup)="search($event)" placeholder="Search images">
        </div>
        <div class="images-container">
          <cdk-virtual-scroll-viewport  itemSize="20" class="example-viewport">
            <div>
              <ngx-masonry class="masonry-options" [options]="masonryOptions" style="width: 90vw;" [ordered]="true">
                <div ngxMasonryItem class="masonry-item" *cdkVirtualFor="let image of images" style="width: 30%;">
                  <img src="{{image.url}}_m.jpg" title="{{image.title}}">
                </div>
              </ngx-masonry>
            </div>
            <!-- <mat-grid-list cols="3" rowHeight="2:1">
              <mat-grid-tile *ngFor="let image of images; let i = index">
                    href="https://www.flickr.com/photos/{{ image.owner }}/{{ image.id }}"
                      <img src="{{image.url}}_m.jpg" title="{{image.title}}">
              </mat-grid-tile>
            </mat-grid-list> -->
          </cdk-virtual-scroll-viewport>
          
        </div>
        <div
          class="search-results"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()">
        </div>
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
  </div>