.images-container
    margin-top: 5%
    display: flex
    justify-content: center

    .masonry-options
        margin-left: 3%

        .image
            background-color: transparent
            border: none