.fullscreen-image
    height: 80%
    background-repeat: no-repeat
    background-position: center center
    background-size: 100% 100%

    .mat-dialog-content
        height: 100%
    
    .mat-dialog-close 
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
        justify-items: flex-end
        width: 100%

.fullscreen-image-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: rgba(0,0,0,0.5)
    font-style: italic
    font-size: 14px

    .title-container
        margin: 1% 0
        font-weight: normal

    .owner-container
        margin: 0 0 1% 0
        font-weight: normal

    .title,
    .owner
        font-weight: bold
